.submit__btn {
    margin: 1rem;
    height: 2.5rem;
    width: 6rem;
    border-radius: 2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.Score__section {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.score__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.score__left :nth-child(1) {
    font-size: 2rem;
}
.score__right__img img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}